<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="stylesheet" href="{{ '/assets/css/tufte.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <article>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/archive/' | relative_url }}">Archive</a>
    </nav>

    {{ content }}
  </article>
</body>
</html>
